# Dependencies
node_modules/

# Environment variables
.env

# Build output
dist/

# Uploaded files
uploads/*
!uploads/.gitkeep
backend/uploads/*
!backend/uploads/.gitkeep

# OS artifacts
.DS_Store

# Editor
.vscode/
.idea/
